<div class="music main-content">
  <ul class="section-list">
    {{#each sections}}
    <li class='section'>
      <h3>{{@key}}</h3>

      <ul class="music-list">
        {{#each this}}
        <li class="song">
          <span class="title">{{this.title}}</span>
          <a class="player" href="{{this.url}}">{{this.title}}</a>

          <div class='clear'></div>
          <p class="description">{{this.description}}</span>
        </li>
        {{/each}}
      </ul>

    </li>
    {{/each}}
  </ul>
</div>
